* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'montserrat' , sans-serif;
    color: #fff;
    background-image: url(/Photos/city.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}